<!-- footer -->
<footer class="site-footer">
  <div class="social-bar">
    <div class="container">
      <ul class="nav" role="navigation">
        <li>
          <%= link_to((image_tag 'facebook29.png', title: 'twitter', class: "social-bar-icon"), 'http://twitter.com/sr_erisso') %>
        </li>
        <li>
            <%= link_to((image_tag 'twitter1.png', title: 'twitter', class: "social-bar-icon"), 'http://twitter.com/sr_erisso') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-xs-12">
        <p class="">© sr erisso 2015</p>
      </div>
    </div>
  </div>

  <div class="small">Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

</footer>