<!-- footer -->
<footer class="site-footer">
  <div class="social-bar">
    <div class="container">
      <ul class="nav" role="navigation">
        <li>
          <a href="#" title="Social Network" class="">
          	<label class="sr-only">Social Network</label>
          	<img class="social-bar-icon" src="http://placehold.it/48x48" title="Social Network">
          </a>
        </li>
        <li>
          <a href="#" title="Social Network" class="">
          	<label class="sr-only">Social Network</label>
          	<img class="social-bar-icon" src="http://placehold.it/48x48" title="Social Network">
          </a>
        </li>
        <li>
          <a href="#" title="Social Network" class="">
          	<label class="sr-only">Social Network</label>
          	<img class="social-bar-icon" src="http://placehold.it/48x48" title="Social Network">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-xs-12">
        <p class="">© Company Name - 2015 <a href="#" class="">Terms&nbsp;&amp;&nbsp;Conditions</a></p>
      </div>
    </div>
  </div>
</footer>